@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #131313;
    overflow-x: hidden;
    padding: 0;
    
}



.nav-logo{
    max-width: 100px;
    margin-left: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #919191;
    transition: color 0.3s ease;
}

.link a:hover {
    position: relative;
    padding-bottom: 0.75rem;
    color: #5185ea;
    transition: color 0.4s ease;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
}

.link a:hover::after{
    width: 70%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.overlay-left, .overlay-right {
    background: radial-gradient(50% 50% at 50% 50%,#5184ea7c 0%,#5184ea21 64.58%,rgba(186,8,8,0) 100%);
    position: absolute;
    width: 543px;
    height: 543px;
  }

  .overlay-left {
    left: -355px;
    top: 40px;
  }
  .overlay-right {
    right: -350px;
    bottom: 60px;
  }

  .overlay-left, .overlay-right {
    background: radial-gradient(50% 50% at 50% 50%,#5184ea7c 0%,#5184ea21 64.58%,rgba(186,8,8,0) 100%);
    position: absolute;
    width: 543px;
    height: 543px;
  }

.nav-links #Account{
margin-left: 41rem;
}   


.button-like-link{
    background-color: #5185ea;
    padding-block: 0.7rem; 
    padding-inline: 2.0rem; 
    border: solid 1px #5185ea;
    border-radius: .3rem;
    transition: .5s !important;
    color: #121415;
    margin-left:  -1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-like-link:hover{
    background-color: transparent;
    color: #5185ea;
    border: solid 1px #5185ea;
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #5185ea;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: #5185ea;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #5185ea;
      border-left-width: 1px;
      border-left-style: solid;
      border-left-color: #5185ea;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      border-image-source: none;
      border-image-width: 1;
    transition: .5s;
    cursor: pointer;
}


.buttom2 {
    background-color: #5185ea;
    padding-block: 0.7rem; 
    padding-inline: 2.3rem; 
    border: solid 1px #5185ea;
    border-radius: .3rem;
    transition: .5s !important;
    margin-left:  -1rem;
}

.buttom2:hover{
        background-color: transparent;
        color: #5185ea;
        border: solid 1px #5185ea;
          border-top-width: 1px;
          border-top-style: solid;
          border-top-color: #5185ea;
          border-right-width: 1px;
          border-right-style: solid;
          border-right-color: #5185ea;
          border-bottom-width: 1px;
          border-bottom-style: solid;
          border-bottom-color: #5185ea;
          border-left-width: 1px;
          border-left-style: solid;
          border-left-color: #5185ea;
          border-image-outset: 0;
          border-image-repeat: stretch;
          border-image-slice: 100%;
          border-image-source: none;
          border-image-width: 1;
        transition: .5s;
        cursor: pointer;
}


.btn:hover{
    background-color: #1e40af;
}

.container{
    max-width: 450px;
    margin: auto;
    padding: 5rem 2rem;
    
}



.navbar {
    background-color: #131313;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centraliza verticalmente todo o conteúdo dentro da barra de navegação */
    gap: 50px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #212529;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}




.h1 .h2 .h3 .h4 .h5, .h6, h1, h2, h3, h4, h5, h6 {
margin-top: 0;
margin-bottom: .5rem;
}



.text-center {
text-align: center !important;
padding: 13rem  !important;
}

d-flex {
display: flex !important;
} 

.flex-column {
flex-direction: column !important;
}

.justify-content-center {
justify-content: center !important;
}

.align-items-center {
align-items: center !important;
}


.text-center {
text-align: center !important;
}



header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    line-height: 1.2;

}

h1 {
    color: #ffffff;
}

p {
    color: #5185ea;
    margin-left: 55px;
}

.sticky .navbar .navbar-nav .nav-item a.active {
    color: #5185ea;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

.custom {
    color: var(--third-text-color);
}

:root {
    --primary-background-color: #101214;
    --secondary-background-color: #121415;
    --primary-text-color: #ffffff;
    --secondary-text-color: #6c757d;
    --third-text-color: #5185ea;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;
    --third-font: 'Lato', sans-serif;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}